*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main{
    text-align: center;
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    background-color: antiquewhite;
    padding: 20px
}
p{
    text-align: center;
    margin-bottom: 50px;
}

.item{
    background-color:#34ff33;
    padding: 20px;
    border: 2px solid #333;
}
.item1 {
    grid-column: 1/4;
    grid-row: 1; 
}
.item2 {
    /* grid-column: 2; */
    grid-row: 2/4;
}
.item3{
    grid-column: 2/4;
}
.item4{
     grid-column: 2/3;
}
.item5{
     grid-column: 3/4;
}
.item6{
    grid-column: 1/4;
}