*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.column{
    width: 100%;
    padding: 50px;
    background: #000;
    margin-bottom: 10px;
    color: #fff;
}

@media (min-width: 768px) {
    .column{
        width: 48%;
        float: left;
        border: 1px solid;
        margin-left: 5px;
    }
}